.choice-container {
  display: flex;
  margin-bottom: 0.75rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid #808080;
  border-radius: 8px;
  background-color: white;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(209, 211, 212, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #7a84bb;
  color: rgb(188, 189, 192);
  width: 80px;
  border-radius: 8px;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-color: rgb(45, 187, 111);
}

.incorrect {
  background-color: rgb(230, 102, 119);
}

/* HUD styles start */

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-item {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
 color: #7a84bb;
  text-align: center;
}
#progress-text {
  text-align: left;
}

#progress-bar {
  width: 20rem;
  margin-top: 1.5rem;
  height: 4rem;
  border: 0.3rem solid #777676;
}

#progressBarFull {
  height: 3.4rem;
  background-color: #7a84bb;
  width: 0%
}
/* HUD styles end */

/* loader styles start */
#loader {
  margin-left: 43%;
  border: 1.6rem solid white;
  border-radius: 50%;
  border-top: 1.6rem solid #585858;
  width: 120px;
  height: 120px;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}
/* loader styles end */